.App {
    text-align: center;
    margin-top: 10%;
}

.App-title {
    font-size: 55px;
    color: rgb(0, 110, 255);
    border-bottom: 3px solid rgba(16, 0, 236, 0.267);
}

.Clock-days, .Clock-hours, .Clock-minutes, .Clock-seconds {
    display: inline-block;
    margin: 15px;
    margin-top: 25px;
    margin-right: 25px;
    font-size: 45px;
    color: rgb(79, 82, 255);
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    border-bottom: 2px solid rgba(16, 0, 236, 0.267);
    padding: 2px;

}

.Deadline-input {
    font-size: 25px;
    margin: 5px;
}
 
Form {
margin-top: 45px;
}